{% extends 'base.html.twig' %}
{% form_theme formProduct 'bootstrap_4_layout.html.twig' %}

{% block body %}
    
    <h1 class="row justify-content-center">
        {% if editMode %}
            Modifier le produit
        {% else %}
            Ajouter un nouveau produit
        {% endif %}
    </h1>
    
    {{ form_start(formProduct) }}

    {{ form_row(formProduct.title, {
        'attr': 
            {'placeholder': 'Nom du produit'},
        'label': "Nom : (*)"}) 
    }}

    {{ form_row(formProduct.description, {
        'attr': 
            {'placeholder': 'Description du produit'},
        'label': 'Description :'}) 
    }}

    {{ form_row(formProduct.image, {
        'attr': 
            {'placeholder': 'Photo du produit'},
        'label': 'Image :'}) 
    }}
    
    {{ form_row(formProduct.category, {
        'attr': {'required': 'true'},
        'label': 'Catégorie du produit : (*)'}) 
    }}
    
    {{ form_row(formProduct.price, {
        'attr': 
            {'placeholder': 'Prix du produit'},
        'label': 'Prix : (*)'}) 
    }}

    
        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Modifier le produit
            {% else %}
                Ajouter le produit
            {% endif %}
        </button>
    {{ form_end(formProduct) }}
{% endblock %}