{% extends 'base.html.twig' %}

{% block body %}
<div class="row w-100 justify-content-center">
    <h1>{{ product.title }}</h1>
</div>
<div class="row w-100 justify-content-center">
    <div>{{ product.description}}</div>
</div>

<div class="row mt-3">
    <img src="{{ product.image }}" alt="" class="col-4">
    <div class="col-4"><span class="font-weight-bold">Prix :</span> {{ product.price }}€</div>
    <div class="col-4">
        <div class="border p-3">
            <h5 class="text-center">Achat</h5>
            {% if not app.user %}
            <a href="{{ path('login') }}">Connectez-vous pour commander !</a>
            {% else %}
            <form action="{{ path('product', {'name': product.category.name, 'id': product.id}) }}" 
                  method="post">
                <input type="hidden" name="userId" value="{{ app.user.id }}">
                <input type="hidden" name="productId" value="{{ product.id }}">
                <button type="submit" class="btn btn-muted">Ajouter au panier !</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}
