{% extends 'base.html.twig' %}

{% block body %}
<h1 class="row justify-content-center">Panier !</h1>

{% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}€</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total : </td>
                <td>{{ total }}€</td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    {% if app.user %}
        <form action="#" method="post">
            <input type="hidden" name="userId" value="{{ app.user.id }}">
            <button type="submit" class="btn btn-muted">Acheter !</button>
        </form>
    {% endif %}

{% else %}
    {% if app.user %}
        <p>Votre panier est vide</p>
    {% else %}
        <a href="{{ path('login') }}">Connectez-vous pour voir votre panier !</a>
    {% endif %}
{% endif %}
{% endblock %}